@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Matter Regular';
  src: url(../public/fonts/Matter-Regular.otf);
}

@font-face {
  font-family: 'Matter Semibold';
  src: url(../public/fonts/Matter-SemiBold.otf);
}

@font-face {
  font-family: 'Matter Heavy';
  src: url(../public/fonts/Matter-Heavy.otf);
}